### XamarinStudio ###
Gpos700_XamrinAndroid\Gpos700_XamrinAndroid/bin/
Gpos700_XamrinAndroid\Gpos700_XamrinAndroid\obj/
Gpos700_XamrinAndroid\Gpos700_XamrinAndroid\*.userprefs
Gpos700_XamrinAndroid\Gpos700_XamrinAndroid\.packages